
hr
footer
center
| Thesis Management System &copy; 2017 -
&nbsp;
a(href='https://github.com/wldn/thement' title='Source code' target='_blank') v1.0

br
h5 Department of Physics, ITB
p(class='footer' style='font-size:9.8pt')
a(href='http://localhost:3500/about' title='About this portal') About
&nbsp; &bull; &nbsp;
a(href='http://localhost:3500/help' title='See help') Help
&nbsp; &bull; &nbsp;
a(href='http://localhost:3500/contact' title='Contact admin') Contact
