include ../static/layout
head
  link(href='/static/vendors/bootstrap/css/bootstrap.min.css', rel='stylesheet', media='screen')
  link(href='/static/vendors/bootstrap/css/bootstrap-responsive.min.css', rel='stylesheet', media='screen')
  link(href='/static/vendors/assets/styles.css', rel='stylesheet', media='screen')
  link(href='/static/vendors/vendors/jGrowl/jquery.jgrowl.css', rel='stylesheet', media='screen')
  script(type="text/javascript")
  
  
body

  div(class='container')
  center
    span.label.label-info #{caption}
    form(action='resend_activation', method='post', class='form-signin')
      h2(class='form-signin-heading') Resend activation link
      label(for='inputEmail', class='sr-only') NIM
      input(type='number', id='inputEmail', name='nim', class='form-control' placeholder='your NIM' required autofocus)
      label(for='inputPassword', class='sr-only') Email
      input(type='email', id='inputPassword', name='email', class='form-control', placeholder='your Email' required)
      button(class='btn btn-lg btn-primary btn-block', type='submit') Resend activation
      p 
        center 
        | Don't have an account? Register
        a(href='register')  here  
        br
        hr
        | Already have an account? Login 
        a(href='#{baseurl}') here
      p
        center
        if(code !== '')
          strong
            .alert.alert-danger #{code}

  
