
head
  link(href='/static/vendors/bootstrap/css/bootstrap.min.css', rel='stylesheet', media='screen')
  link(href='/static/vendors/bootstrap/css/bootstrap-responsive.min.css', rel='stylesheet', media='screen')
  link(href='/static/vendors/assets/styles.css', rel='stylesheet', media='screen')
  link(href='/static/vendors/vendors/jGrowl/jquery.jgrowl.css', rel='stylesheet', media='screen')
  script(type="text/javascript")
  title=title
    
body

  div(class='container')
  br
  center
    h2 Contact administrator
    include ../footer    
        
